{"name":"AwesomeProject","slug":"AwesomeProject","version":"1.0.0","orientation":"portrait","icon":"./assets/icon.png","userInterfaceStyle":"light","splash":{"image":"./assets/splash.png","resizeMode":"contain","backgroundColor":"#ffffff"},"assetBundlePatterns":["**/*"],"ios":{"supportsTablet":true,"googleServicesFile":"./GoogleService-Info.plist","bundleIdentifier":"com.y41.AwesomeProject"},"android":{"adaptiveIcon":{"foregroundImage":"./assets/adaptive-icon.png","backgroundColor":"#ffffff"}},"web":{"favicon":"./assets/favicon.png"},"extra":{"eas":{"projectId":"30e147e2-fa9e-4b5e-af6e-1db13af5a8a3"}},"plugins":["@react-native-firebase/app",["expo-build-properties",{"ios":{"useFrameworks":"static"}}]],"sdkVersion":"51.0.0","platforms":["ios","android"]}